<div class="container">

  <div class="row align-items-center">
    <div class="col">
      <div class="container form-panel">

        <form [formGroup]="emailFormGroup" id="resetpassword-form" action="#" (ngSubmit)="submitAuthDetails()"
          class="resetpassword-form animate-box" data-animate-effect="fadeIn">

          <div class="panel panel-primary">
            <h2 class="panel-heading">Password Reset</h2>
            <br>
            <div class="panel-body">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email *"
                    aria-required="true" formControlName="Email">
                </div>
              </div>
              <div *ngIf="!isEmailValid">
                <div class="alert alert-danger alert-dismissible">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close"
                    (click)="resetErrorMsg()">&times;</a>
                  <strong>Email incorrect! </strong>Please re-enter your email address.
                </div>
              </div>
              <div *ngIf="isEmailSent">
                <div class="alert alert-success alert-dismissible">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="resetMsg()">&times;</a>
                  <strong>Password Reset!</strong> Please check your email and set new password.
                </div>
              </div>

              <div class="form-group">
                <input type="submit" value="Reset Password" class="btn btn-success btn-primary">
              </div>

              <div class="signin-div">
                <p>
                  I have password.
                  <a class="sign-link" (click)="redirectTologin()">
                    <i class="fas fa-sign-in-alt"></i>Go to login
                  </a>
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
