@media screen and (max-width: 1025px) {
  .container>.dashboard-content {
    margin: 0 auto;
    // padding: 80px 50px;
    // font-size: 70%;
    // text-align: left;
  }
}

@media screen and (max-width: 700px) {
  .dashboard-content {
    margin: auto;
  }
}

@media screen and (max-width: 400px) {
  .container>.dashboard-content {
    margin: 0 auto;
    // padding: 80px 10px;
    // font-size: 70%;
    // text-align: left;
  }
}

// @media screen and (max-width: 375px) {
//   .container>.dashboard-content {
//     margin: 0 auto;
//     // padding: 80px 10px;
//     // font-size: 70%;
//     // text-align: center;
//   }
// }

// @media screen and (max-width: 290px) {
//   .container>.dashboard-content {
//     margin: auto;
//     // padding: 60px 0px;
//     // font-size: 70%;
//     // text-align: left;
//   }
// }
