.dashboard-container {
    margin: auto 0;
    font-family: "Lato", sans-serif;
    padding: 0px;
}

.dashboard-landingPage {
    margin: auto 0px;
    padding: 0;
    width: auto;
}

.navigation-container {
    margin: auto;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar li {
    text-decoration: none;
    list-style: none;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    color: white;
    background-color: #555;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
    cursor: pointer;
}

.dashboard-content {
    margin-left: 200px;
    padding: 1px 16px;
    padding: 15px;
    height: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    .dashboard-content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}