<div class="dashboard-container">
    <div class="row">
        <div class="col-sm">
            <div class="navigation-container">
                <div id="mySidenav" class="sidebar">
                    <a href="">RefrMe Feed</a>
                    <a href="">Account Management</a>
                    <a (click)='clickNavigateHandler("newSales")'>Sales Applications</a>
                    <a href="">Projects & Task</a>
                    <a href="">Analytics</a>
                    <a href="">Chat</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="dashboard-landingPage center">
                <div class="dashboard-content">
                    <div class="dashboard-router">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>