<div class="container">
  <ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
      <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
      <nav class="gn-menu-wrapper">
        <div class="gn-scroller">
          <ul class="gn-menu">
            <li class="gn-search-item">
              <input placeholder="Search" type="search" class="gn-search">
              <a class="gn-icon gn-icon-search"><span>Search</span></a>
            </li>
            <li><a class="gn-icon gn-icon-cog" (click)='clickNavigateHandler("newSales")'>Sales
                Applications</a></li>
            <li><a class="gn-icon gn-icon-cog" (click)='clickNavigateHandler("viewSales")'>View
                Applications</a></li>
            <li><a class="gn-icon gn-icon-cog" (click)='clickNavigateHandler("projects")'>Projects</a></li>
            <li><a class="gn-icon gn-icon-help" (click)='clickNavigateHandler("task")'>Tasks</a></li>
            <li><a class="gn-icon gn-icon-cog">Analytics</a></li>
            <li><a class="gn-icon gn-icon-cog">Chat</a></li>
            <li><a class="gn-icon gn-icon-help" (click)='clickNavigateHandler("userProfile")'>Profile</a></li>
            <li><a class="gn-icon gn-icon-cog">Settings</a></li>
            <li><a class="gn-icon gn-icon-help">Help</a></li>
            <li>
              <a class="gn-icon gn-icon-archive">Archives</a>
              <ul class="gn-submenu">
                <li><a class="gn-icon gn-icon-article">Articles</a></li>
                <li><a class="gn-icon gn-icon-pictures">Images</a></li>
                <li><a class="gn-icon gn-icon-videos">Videos</a></li>
              </ul>
            </li>
            <li><a class="gn-icon gn-icon-help" (click)="authService.SignOut(true)">Log Out</a></li>
          </ul>
        </div><!-- /gn-scroller -->
      </nav>
    </li>
    <li><a href="#"><img src="./assets//logo/refrme-logo.jpg " alt="RefrMe" class="logo"></a></li>
    <!-- <li><a class="codrops-icon codrops-icon-drop" href="#"><span>User Profile</span></a></li> -->
  </ul>

  <br>

  <div class="dashboard-content">
    <div class="dashboard-router">
      <router-outlet></router-outlet>
    </div>
  </div>
</div><!-- /container -->
