<div class="container" style="height: 100%; margin:auto">

    <div class="row align-items-center" style="height: 100%; margin:auto">
        <div class="col">

            <div class="container" style="height: 100%; margin:auto">

                <div class="signin-user" style="height: 100%; margin:auto">
                    <h1 style="text-align: center;">Please create log In credentials</h1>
                    <br>

                    <form [formGroup]="signUpFormGroup" id="signUp-form" action="#" (ngSubmit)="submitSigUpDetails()">
                        <div class=" panel panel-primary">
                            <div class="panel-body">

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" aria-required="true" formControlName="FirstName">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" aria-required="true" formControlName="LastName">
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email *" aria-required="true" formControlName="Email">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="confirmEmail" name="confirmEmail" placeholder="Confirm Email *" aria-required="true">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password *" aria-required="true" formControlName="Password">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="password" class="form-control" id="password" name="confirmPassword" placeholder="Confirm Password *" aria-required="true" formControlName="ConfirmPassword">
                                    </div>
                                </div>

                            </div>

                        </div>

                        <button type="submit" class="btn btn-success btn-primary">Create Account</button>
                        <br>
                        <div class="signup-div" style="padding-top: 15px;">
                            <p>
                                I already have an account.
                                <span>
                                <li class="signup-item" style="list-style-type: none;">
                                    <a class="sign-link" (click)="redirectTologin()">
                                        <i class="fas fa-sign-in-alt"></i>go to login
                                    </a>
                                </li>
                            </span>
                            </p>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>
