<div class="container">
    <div class="center">
        <div class="row">
            <div class="col-sm">
                <button type="submit" class="btn btn-success btn-primary" routerLink="/login" href="/login">Login</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <button type="submit" class="btn btn-success btn-primary" routerLink="/join" href="/join">Join</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <button type="submit" class="btn btn-success btn-primary" routerLink="/home" href="/home" disabled>Explore</button>
            </div>
        </div>
    </div>
</div>