html, body{
  background-image: linear-gradient(to bottom right, green, #5e9ea0);
}
.center {
  display: block;
  margin: auto;
  width: 100%;
   text-align: center;
}

.row {
  padding: 15px 15px;
}

.btn {
  width: 200px;
  height: 80px
}

button {
  background-color: cadetblue;
}

.btn:hover,
.btn::before,
.btn::after,
.btn:active,
.btn:focus,
.btn:visited {
  background-color: cadetblue;
}
