<div class="container">
  <div class="center">
    <div class="row">
      <div class="col-sm">
        <img src="../../../assets/logo/RefrMe-R.png" alt="logo" class="logo">
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <button type="submit" class="btn btn-success btn-primary" (click)="redirectToLogin()">Login</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <button type="submit" class="btn btn-success btn-primary" (click)="redirectToRegister()">Join</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <button type="submit" class="btn btn-success btn-primary" (click)="redirectToExplore()">Explore</button>
      </div>
    </div>
  </div>
</div>
