<div class="container">

  <div class="row ">
    <div class="col">
      <div class="signin-user">
        <h1>Already have sign in credentials!</h1>
        <br>

        <div class="row signin-contents">
          <div class="col-md-6 col-md-offset-6">

            <form [formGroup]="signInFormGroup" class="fh5co-form animate-box" data-animate-effect="fadeIn"
              id="signIn-form" action="#" (ngSubmit)="submitSignInDetails()">

              <div class="panel panel-primary">
                <div class="form-group">
                  <mat-form-field class="full-width">
                    <input matInput type="email" placeholder="Email" formControlName="email" required
                      class="form-control" autocomplete="off">
                    <mat-error *ngFor="let validation of validation_messages.email" class="error-messages">
                      <mat-error class="error-message" *ngIf="signInFormGroup?.get('email')?.hasError(validation.type)
                                    && (signInFormGroup?.get('email')?.dirty ||
                                    signInFormGroup?.get('email')?.touched)">
                        {{validation.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group">

                  <mat-form-field class="full-width">
                    <input matInput type="password" placeholder="Password" formControlName="password" required
                      class="form-control" autocomplete="off">
                    <mat-error *ngFor="let validation of validation_messages.password" class="error-messages">
                      <mat-error class="error-message" *ngIf="signInFormGroup?.get('password')?.hasError(validation.type) &&
                            (signInFormGroup?.get('password')?.dirty ||
                            signInFormGroup?.get('password')?.touched)">
                        {{validation.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div *ngIf="!isUserSignInAllowed">
                <div class="alert alert-danger alert-dismissible">
                  <a class="close" data-dismiss="alert" aria-label="close" (click)="resetErrorMsg()">&times;</a>
                  <strong>Sign in error!</strong>
                  <p>
                    Please check your details and retry sign in.
                  </p>
                  <p>
                    If your account is new, please check your email for verification and activate your account.
                  </p>
                </div>
              </div>
              <div class="form-group">
                <p>Not registered? <a class="sign-link" (click)="redirectToRegister()">Sign Up New Account</a> | <a
                    class="resetpassword-link" (click)="resetPassword()">Reset password
                  </a>
                </p>
              </div>
              <div class="form-group">
                <input type="submit" value="Sign In" class="btn btn-success btn-primary">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
