<div class="container">

  <div class="row signin-contents">
    <div class="col">
      <div class="container signin-user">
        <h1 style="text-align: center;">Already have sign in credentials!</h1>
        <br>

        <div class="row signin-contents">
          <div class="col-md-6 col-md-offset-6">

            <form [formGroup]="signInFormGroup" class="fh5co-form animate-box" data-animate-effect="fadeIn"
              id="signIn-form" action="#" (ngSubmit)="submitSignInDetails()">

              <div class="panel panel-primary">
                <div class="form-group">
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email *"
                    autocomplete="off" aria-required="true" formControlName="email" autocomplete="off" required>
                </div>
                <div class="form-group">
                  <input type="password" id="password" name="password" placeholder="Password *" aria-required="true"
                    formControlName="password" class="form-control ng-valid ng-dirty ng-touched"
                    ng-reflect-name="Password" autocomplete="off" required>
                </div>
              </div>
              <div *ngIf="!isUserSignInAllowed">
                <div class="alert alert-danger alert-dismissible">
                  <a class="close" data-dismiss="alert" aria-label="close" (click)="resetErrorMsg()">&times;</a>
                  <strong>Sign in error!</strong>
                  <p>
                    Please check your details and retry sign in.
                  </p>
                  <p>
                    If your account is new, please check your email for verification and activate your account.
                  </p>
                </div>
              </div>
              <div class="form-group">
                <p>Not registered? <a class="sign-link" (click)="redirectToRegister()">Sign Up New Account</a> | <a
                    class="resetpassword-link" (click)="resetPassword()">Reset password
                  </a>
                </p>
              </div>
              <div class="form-group">
                <input type="submit" value="Sign In" class="btn btn-success btn-primary">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
