<div class="container">

  <div class="row align-items-center">
    <div class="col">

      <div class="container form-panel">

        <div class="signup-user">
          <!-- <h1>Please create Sign In credentials</h1>
          <br> -->

          <form [formGroup]="signUpFormGroup" id="signUp-form" action="#" (ngSubmit)="submitSigUpDetails()"
            class="signup-form animate-box" data-animate-effect="fadeIn">

            <div class="panel panel-primary">
              <h2 class="panel-heading">Your Personal Details</h2>
              <div class="panel-body">

                <div class="form-row row">
                  <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="First Name" formControlName="firstName" required
                        class="form-control">
                      <mat-error *ngFor="let validation of validation_messages.firstName">
                        <mat-error class="error-message" *ngIf="signUpFormGroup?.get('firstName')?.hasError(validation.type) &&
                             (signUpFormGroup?.get('firstName')?.dirty || signUpFormGroup?.get('firstName')?.touched)">
                          {{validation.message}}</mat-error>
                      </mat-error>
                    </mat-form-field>

                  </div>
                </div>

                <div class="form-row row">
                  <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Last Name" formControlName="lastName" required class="form-control">
                      <mat-error *ngFor="let validation of validation_messages.lastName">
                        <mat-error class="error-message" *ngIf="signUpFormGroup?.get('lastName')?.hasError(validation.type) &&
                             (signUpFormGroup?.get('lastName')?.dirty || signUpFormGroup?.get('lastName')?.touched)">
                          {{validation.message}}</mat-error>
                      </mat-error>
                    </mat-form-field>

                  </div>
                </div>

                <div class="form-row row">
                  <div class="col-md-6"></div>
                  <div formGroupName="matching_emails">
                    <div class="col-md-6">
                      <mat-form-field class="full-width">
                        <input matInput type="email" placeholder="Email" formControlName="email" required
                          class="form-control">
                        <mat-error *ngFor="let validation of validation_messages.email">
                          <mat-error class="error-message" *ngIf="signUpFormGroup?.get('matching_emails')?.get('email')?.hasError(validation.type)
                                    && (signUpFormGroup?.get('matching_emails')?.get('email')?.dirty ||
                                    signUpFormGroup?.get('matching_emails')?.get('email')?.touched)">
                            {{validation.message}}</mat-error>
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-6">
                      <mat-form-field class="full-width">
                        <input matInput type="email" placeholder="Confirm Email" formControlName="confirmEmail"
                          [errorStateMatcher]="parentErrorStateMatcher" required class="form-control">
                        <mat-error *ngFor="let validation of validation_messages.confirmEmail">
                          <mat-error class="error-message" *ngIf="(signUpFormGroup?.get('matching_emails')?.get('confirmEmail')?.hasError(validation.type)||
        signUpFormGroup?.get('matching_emails')?.hasError(validation.type)) &&
        (signUpFormGroup?.get('matching_emails')?.get('confirmEmail')?.dirty ||
        signUpFormGroup?.get('matching_emails')?.get('confirmEmail')?.touched)">
                            {{validation.message}}</mat-error>
                        </mat-error>
                      </mat-form-field>
                    </div>

                  </div>
                </div>

                <div class="form-row row">
                  <div formGroupName="matching_passwords">

                    <div class="col-md-6">
                      <mat-form-field class="full-width">
                        <input matInput type="password" placeholder="Password" formControlName="password" required
                          class="form-control">
                        <mat-error *ngFor="let validation of validation_messages.password">
                          <mat-error class="error-message"
                            *ngIf="signUpFormGroup?.get('matching_passwords')?.get('password')?.hasError(validation.type) && (signUpFormGroup?.get('matching_passwords')?.get('password')?.dirty || signUpFormGroup?.get('matching_passwords')?.get('password')?.touched)">
                            {{validation.message}}</mat-error>
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-6">
                      <mat-form-field class="full-width">
                        <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword"
                          [errorStateMatcher]="parentErrorStateMatcher" required class="form-control">
                        <mat-error *ngFor="let validation of validation_messages.confirmPassword">
                          <mat-error class="error-message" *ngIf="(signUpFormGroup?.get('matching_passwords')?.get('confirmPassword')?.hasError(validation.type)||
        signUpFormGroup?.get('matching_passwords')?.hasError(validation.type)) &&
        (signUpFormGroup?.get('matching_passwords')?.get('confirmPassword')?.dirty ||
        signUpFormGroup?.get('matching_passwords')?.get('confirmPassword')?.touched)">
                            {{validation.message}}</mat-error>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>


                </div>
              </div>


              <div class="form-row row">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Referal Promocode" formControlName="referalPromoCode" required
                    class="form-control">
                  <mat-error *ngFor="let validation of validation_messages.referalPromoCode">
                    <mat-error class="error-message" *ngIf="signUpFormGroup?.get('referalPromoCode')?.hasError(validation.type) &&
                             (signUpFormGroup?.get('referalPromoCode')?.dirty ||
                             signUpFormGroup?.get('referalPromoCode')?.touched)">
                      {{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-group">
                <input type="submit" value="Sign Up" class="btn btn-success btn-primary">
              </div>

            </div>

            <div class="signup-div" style="padding-top: 15px;">
              <p>
                I already have an account.
                <a class="sign-link" (click)="redirectToLogin()">
                  <i class="fas fa-sign-in-alt"></i>Sign in with an existing account
                </a>
              </p>
            </div>

          </form>
        </div>
      </div>

    </div>

  </div>
</div>
