.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

text {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 16px;
}

textarea {
  resize: vertical;
  position: static !important;
  width: 100%;
  padding: 8px 20px;
  border-radius: 6px;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-color: #8D8D8D;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  outline: none;
  height: 120px;
  -webkit-transition: none;
  transition: none;
  margin-bottom: 14px;
}

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

.form-holder {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  margin: auto 0;
}

.form-holder h3 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.form-holder h3.form-title {
  margin-bottom: 30px;
}

.form-content p {
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}

label {
  padding: 12px 12px 0px 0;
  display: inline-block;
}

.form-check {
  display: inline-block;
  position: relative;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.panel-heading {
  padding-top: 15px;
}
