<!-- <div class="container body-container"> -->
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
  <div class="container px-4">
    <a class="navbar-brand" (click)="onScrollTo('page-top')"><img src="../../../assets/logo/RefrMe-R.png" alt="logo"
        class="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" (click)="onScrollTo('about')" target="">About</a></li>
        <li class="nav-item"><a class="nav-link" (click)="onScrollTo('services')">Services</a></li>
        <li class="nav-item"><a class="nav-link" (click)="onScrollTo('products')">Products</a></li>
        <li class="nav-item"><a class="nav-link" (click)="onScrollTo('contact')">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- </div> -->


<!-- Header-->
<header class="bg-primary bg-gradient text-white">
  <div class="container px-4 text-center">
    <h1 class="fw-bolder">Welcome to RefrMe</h1>
    <p class="lead">Telecommunication solutions</p>
    <a class="btn btn-lg btn-light" (click)="onScrollTo('products')">Explore Products</a>
  </div>
</header>
<!-- About section-->
<section class="bg-light" id="about">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>About Us</h2>
        <p class="lead">We provide telecommunication solutions such as internet fibre to the Home and to business with
          our partnerships with MTN, Mweb and Bitco, as well as RefrMe fixed-LTE solutions with our own brand of Wi-fi
          routers. We’re excited to be in the space we’re in as Internet broadband is a billion-rand industry in South
          Africa, the existing national infrastructure is considered the best in the continent and the South African
          telecoms industry is considered one of the fastest growing in the world.</p>
        <p>Internet fibre optics is the current
          trend because of its increased benefits compared to traditional Internet broadband solutions.</p>
        <p> Fibre Internet is currently being deployed across South Africa with only a 30 ℅ coverage across the country.
          All the major
          South African telecoms companies are moving away from traditional broadband solutions such as ADSL and shift
          their infrastructure to fibre optic internet, including Telkom which announced it will no longer be providing
          ADSL internet packages.</p>
        <p>Only 3 million out of 17.5 million households in south Africa currently have internet
          fibre and it is expected that the number will continue by half a million households on a yearly basis since
          all network providers in the country migrate their infrastructure from traditional ADSL copper wires to fibre
          optic infrastructure which is why RefrMe has entered partnership with the major fibre network providers</p>
      </div>
    </div>
  </div>
</section>
<!-- Services section-->
<section id="services">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>Services we offer</h2>
        <p class="lead">The fastest way to describe our business structure & operations is as the “Uber of internet
          broadband providers” we have developed a platform and business structure that allows us to successfully
          outsource the bulk of our operations and services at a substantial reduction to overall operational cost.</p>
        <p>
          Only 3 million out of 17.5 million households in south Africa currently have internet
          fibre and it is expected that the number will continue by half a million households on a yearly basis
          since
          all network providers in the country migrate their infrastructure from traditional ADSL copper wires to
          fibre
          optic infrastructure which is why RefrMe has entered partnership with the major fibre network providers
        </p>
        <ul>
          <li>We outsource our technical and support contracts to qualified technicians to install broadband internet
            to our customers on a self-employed independent business owner model.
          </li>
          <li>We outsource our customer service to talented work at home agents, our agents are under our
            independent business owner model. Agents are recruited based on experience and are given training on
            utilizing our platform and the technologies that we have created to generate an income. Our agents
            dictate their own working hours and receive training in entrepreneurship and how to run their own
            business.
          </li>
          <li>We also offer the opportunity to reward our customers annuity rewards for successful referral’s to
            go with our company philosophy and model. Our business is built to offer as many opportunities as
            possible for our users to generate an income online.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Products section-->
<section class="bg-light" id="products">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>Producs</h2>
        <p class="lead">Refrme has “Pure Reseller Agreements” with its partnerships with established Internet/Network
          Providers. This means we have a 100% ownership of our users and pay for our customers internet usage in bulk.
          This gives us a great opportunity to retain our customers and their data as well as greater cross selling
          opportunities for other products and services. We have our own brand of routers that we sell to our users.</p>
        <p> RefrMe has designed a web application to assist in the deployment of referral-based marketing techniques.
          Our company aims to infuse traditional sales techniques with technology without losing its core customer
          service
          values. Through experience and partnerships with network operators RefrMe is able to keep up with the
          thousands of potential customers located in recently Internet fibre activated areas across the country.</p>

        <p>Only 3 million out of 17.5 million households in south Africa currently have internet
          fibre and it is expected that the number will continue by half a million households on a yearly basis
          since
          all network providers in the country migrate their infrastructure from traditional ADSL copper wires to
          fibre
          optic infrastructure which is why RefrMe has entered partnership with the major fibre network providers
        </p>


        <p>Internet Broadband Packages:</p>
        <ul>
          <li>Internet fibre to the home R399 – R2049 per month
          </li>
          <li>Internet fibre to the business R1099 – R13,000 per Month
          </li>
          <li>LTE internet R199 – R1349 per month
          </li>
        </ul>

        <p>Other Products:</p>
        <ul>
          <li>RefrMe Routers R999 - R1999 once-off
          </li>
          <li>RefrMe Routers R80 – R150 per month for 24month
          </li>
          <li>Independent Business Owner training (IBO) subscription – R169’99 per month
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Contact section-->
<section id="contact">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>Contact us</h2>
        <p class="lead">We are found somewhere in the middle of Gauteng province. We can not provide the city becasue it
          is in between Pretoria and Johannesburg.</p>
        <p>Good luck finding the location :-D</p>
      </div>
    </div>
  </div>
</section>

<!-- <router-outlet></router-outlet> -->
<!-- <script>
  $('a.nav-link').click(function (e) {
    e.preventDefault();
  });
</script> -->
