/* You can add global styles to this file, and also import other style files */


/* @import "~bootstrap/dist/css/bootstrap.css"; */

html,
body {
    height: 100%;
}

body {
    background-color: whitesmoke;
}

nav,
.navbar,
.navbar-inverse {
    background-color: #f9f9f9;
    border: none;
    text-align: center;
}

.navigation-bar,
.navbar-header,
.logo-link {
    text-align: center;
}

.navigation-bar {
    margin: 0 auto;
    width: 500px;
}

.logo {
    width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
